<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - Camera Usage Description</key>
	<string>Normal uses the camera to scan QR codes you've set up as keys, to block and unlock apps on your device.</string>
	<key>Privacy - Family Controls Usage Description</key>
	<string>Normal uses Screen Time to block and unblock apps on your device so you can be more intentional with your phone usage.</string>
	<key>com.apple.developer.nfc.readersession.felica.systemcodes</key>
	<array>
		<string>12FC</string>
		<string>0003</string>
		<string>FE00</string>
	</array>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>D2760000850101</string>
		<string>A0000000031010</string>
		<string>A0000000041010</string>
		<string>A0000000030000</string>
		<string>A0000002471001</string>
		<string>A000000025010801</string>
		<string>A0000001523010</string>
		<string>A0000000043060</string>
		<string>A0000002771010</string>
		<string>A0000004581010</string>
		<string>A0000000032010</string>
		<string>A0000003960000</string>
		<string>A0000001524010</string>
		<string>A0000000651010</string>
		<string>D2760000850100</string>
	</array>
</dict>
</plist>
